streamlit
chromadb==0.4.24
sentence-transformers
langchain
langchain-groq
langchain-community
langgraph
pypdf
python-pptx
reportlab

# 🔥 IMPORTANT FIXES
protobuf==3.20.3
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
